@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700;900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,300;1,400;1,500;1,700&display=swap');
body{
    font-family: 'Noto Sans KR', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    color:#706e6f;
}
*{margin: 0;padding: 0;box-sizing: border-box;}
li{list-style: none;}
a{text-decoration: none;}
button{
    border: none;
    background:none;
    cursor: pointer;
}
/* 초기화 */

/* popup */
.popup{
    width: 100%;
}
.popup .p_inner{
    /* width: 1150px; */
    height: 120px;
    background: url(../image/popupbg.jpg)no-repeat center top;
    background-size: cover;
    margin: 0 auto;
    position: relative;
}
.popup .btn_close{
    width: 19px;
    height: 19px;
    background: url(../image/btn_top_banner_close.png)no-repeat;
    text-indent: -99999px;
    position: absolute;
    left: 50%;
    margin-left: 530px;
    top: 10px;
}


/* header */

header{
    width: 100%;
    height: 103px;
    position: relative;
    background: rgba(0, 0, 0, 0.3);
    z-index: 11;
}
header .h_wrap{
    width: 100%;
    height: 103px;
    background: url(../image/header_bg.png)0 0 repeat-x;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 10;
    
}
header .h_inner{
    width: 1150px;
    height: 103px;
    margin: 0 auto;
    position: relative;
    /* border: 1px solid red; */
}

header h1 a{
    display: block;
    width: 101px;
    height: 101px;
    background: url(../image/logo.png)no-repeat;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 25px;
    text-indent: -99999px;
    z-index: 1000;
}
header .h_inner .util{
    position: absolute;
    right: 0;
    top: 14px;
    display: flex;
}
header .h_inner .util li{

}

header .h_inner .util li a{
    display: block;
    height: 23px;
    padding: 0 10px;
    font-size: 12px;
    color: #a2a1a2;
    margin-left: 12px;
    line-height: 23px;
    /* border: 1px solid red; */
}

header .h_inner .util li:hover:nth-child(1) a,
header .h_inner .util li:hover:nth-child(2) a{
    color: #fff;
    font-weight: 600;
}
header .h_inner .util li:nth-child(3) a{
    width: 63px;
    height: 23px;
    background: url(../image/util_aca_bg.png) no-repeat;
    padding: 0;
    text-align: center;
    color: #362f29;
}
header .h_inner .util li:last-child a{
    width: 112px;
    height: 23px;
    background: url(../image/util_app_bg.png) no-repeat;
    padding: 0;
    text-align: center;
    color: #fff;
}
header .h_inner .gnb{
    position: absolute;
    justify-content: space-between;
    left: 0;
    top: 48px;
    display: flex;
    z-index: 10;
    /* border: 1px solid blue; */
}
header .h_inner .gnb>li{
    position: relative;
}
header .h_inner .gnb>li>a{
    display: block;
    height: 56px;
    line-height: 55px;
    font-size: 16px;
    /* border: 1px solid red; */
    padding: 0 32px;
    color: #fff;
    font-weight: 500;
    position: relative;

}
header .h_inner .gnb>li:hover a{
    color:#672d91;
}
header .h_inner .gnb>li:nth-child(5){
    margin-left: 129px;
}
header .h_inner .gnb>li>a::before{
    content: '';
    width: 1px;
    height: 14px;
    background: rgba(255,255,255,0.5);
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
}
header .h_inner .gnb>li:first-child a::before,
header .h_inner .gnb>li:nth-child(5) a::before{
    display: none;
}


/* 2단메뉴 */
header .h_inner .gnb>li> .depth2{
    width: 100%;
    height: 267px;
    padding-top: 20px;
    position: absolute;
    left: 0;
    top: calc(100%);
    display: none;
}
header .h_inner .gnb>li> .depth2 li{
    text-align: center;
    margin-top: 5px;
}
header .h_inner .gnb>li> .depth2 li:hover a{
    background: #A2DFDE;
    color: #333;
}
header .h_inner .gnb>li> .depth2 li a{
    display: block;
    padding: 4px 0;
    font-size: 13px;
    text-align: center;
    line-height: 15px;
    color: rgba(255,255,255,0.5);
}

/* footer */
footer{
    width: 100%;
    height: 136px;
    background: #444;
}
footer .inner{
    width: 1000px;
    height: 136px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
footer .inner h2{
    width: 62px;
    height: 62px;
    background: url(../image/ft_logo.gif)no-repeat;
    text-indent: -99999px;
}
footer .inner .info .ft_info{
    display: flex;
}
footer .inner .info .ft_info ul{
    display: flex;
}

footer .inner .info .ft_info .info_list li {
    margin-right: 30px;
}
footer .inner .info .ft_info .info_list li a{
    display: block;
    font-size: 14px;
    color: #fff;
}
footer .inner .info .ft_info .info_menu{
    margin-top: -3px;
}
footer .inner .info .ft_info .info_menu li{
    margin-right: 15px;
}
footer .inner .info .ft_info .info_menu li a{
    display: block;
    font-size: 14px;
    color: rgba(255,255,255,0.5);
    background: #222;
    padding: 3px 15px;
    border-radius: 20px;
}
footer .inner .info address{
    margin-top: 18px;
    font-style: italic;
    font-size: 12px;
    color: rgba(255,255,255,0.3);
    font-style: normal;
}
footer .inner .info .copy{
    font-size: 12px;
    color: rgba(255,255,255,0.3);
}
footer .inner .speaker{
    position: absolute;
    right: 0;
    top: 65px;
    width: 31px;
    height: 31px;
    background: url(../image/ft_speaker.png)no-repeat;
    text-indent: -99999px;
}
footer .inner .sns{
    display: flex;
    margin-top: -50px;
}
footer .inner .sns li a{
    display: block;
}
footer .inner .sns li:first-child a{
    width: 31px;
    height: 31px;
    background: url(../image/ft_sns_facebook.png)no-repeat;
    text-indent: -99999px;
    margin-right: 12px;
}
footer .inner .sns li:last-child a{
    width: 31px;
    height: 31px;
    background: url(../image/ft_sns_instagram.png)no-repeat;
    text-indent: -99999px;
}
footer .btn_top{
    position: fixed;
    left: 50%;
    margin-left: 580px;
    bottom: 100px;
    display: none;
}
footer .btn_top a{
    display: block;
    width: 50px;
    height: 50px;
    background: #fff;
    box-shadow: 4px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 50px;
    border-radius: 25px;
    color: #000;
}